* {
  margin: 0px;
}

.app {
  /* background-color: lightgray; */
  height: 100vh;
}

.app__body {
  /* width: 80%; */
  margin-top: 30px;
  /* margin-right: 240px; */
  overflow-x: scroll;
  /* overflow-y: scroll; */
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}
